.notifyWrapper {
  position: absolute;
  top: 90%;
  left: 0;
  width: 20%;
  height: 5rem;
  background-color: seagreen;
  border: 2px solid seagreen;
  border-radius: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1rem;
  text-transform: uppercase;
  animation-name: notify;
  animation-duration: 3s;
  opacity: 0;
}
@media (max-width: 800px) {
  .notifyWrapper {
    font-size: 0.5rem;
    height: 2.5rem;
    border-radius: 0.5rem;
  }
}

@keyframes notify {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100%{
    opacity: 0;
  }
}
